*~
\#*\#
.\#*
*.sw[op]
*.py[co]
*.diff
*.patch
*.bak
*.project

.idea/
.DS_Store
Thumbs.db


.tox
.coverage
.coverage-html
.vagrant
.venv

tmp

# Frontend
frontend/dist
frontend/node_modules

# Config files
deploy/config.toml
deploy/supervisor/*.conf
deploy/supervisor/programs/*.conf
deploy/nginx/*.conf
deploy/apps/*.py
deploy/apps/*.yaml
